/*  your css code here. If applicable */
:root {
	background-color: rgb(135, 206, 235);
}
p:first-child {
      color: rgb(0,0,0);
      background-color: black;
      padding: 10px;
    }

    p:nth-child(2) {
      color: black;
      background-color: white;
      padding: 10px;
    }

    p:last-child {
      color: rgb(255, 0, 0);
      padding: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      width: 50%;
      padding: 10px;
      background-color: gray;
    }

    li:nth-child(odd) {
      background-color: white;
    }

    li:first-child,
    li:last-child {
      font-size: 22px;
    }

    li:nth-last-child(3) {
      background-color: pink;
    }